<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work with base</title>
</head>
<body>
<h2><span th:text="${nickname}"></span>, что Вы хотите сделать с базой?</h2>
<p><a th:href="@{/base/family_member/add}">Создать нового человека</a></p>
<p><a th:href="@{/base/family_member/edit}">Отредактировать существующего человека</a></p>
<p><a th:href="@{/base/family_member}">Найти человека</a></p>
<br>

<p><a th:href="@{/cabinet/me}">Вернуться в кабинет</a></p>
<p><a th:href="@{/}">Вернуться на стартовую страницу</a></p>
</body>

</html>
