<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreatNewFamilyMember</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css"
          integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"
            integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<br>
<form id="creatFM">
    <div style="font-size: larger;font-family: bold,'Monotype Corsiva',serif">Main info</div>
    <label for="firstNameAdd">FirstName:</label>
    <input type="text" id="firstNameAdd" name="firstNameAdd">
    <span aria-valuetext="      ">          </span>>
    <label for="middleNameAdd">MiddleName:</label>
    <input type="text" id="middleNameAdd" name="middleNameAdd">
    <span aria-valuetext="      ">          </span>>
    <label for="lastNameAdd">LastName:</label>
    <input type="text" id="lastNameAdd" name="lastNameAdd">
    <br>
    <label for="birthdayAdd">Birthday:</label>
    <input type="text" id="birthdayAdd" name="birthdayAdd">
    <span aria-valuetext="      ">          </span>>
    <label for="deathDayAdd">Day of death:</label>
    <input type="text" id="deathDayAdd" name="deathDayAdd">
    <br>
    <label for="gender">Sex:</label>
    <input type="text" id="gender" name="gender" value="MALE">
    <div style="font-size: larger;font-family: bold,'Monotype Corsiva',serif">Contact information</div>
    <label for="mainPhoneAdd">mainPhone:</label>
    <input type="text" id="mainPhoneAdd" name="mainPhoneAdd">
    <span aria-valuetext="      ">          </span>>
    <label for="mainEmailAdd">mainEmail:</label>
    <input type="text" id="mainEmailAdd" name="mainEmailAdd">
    <br>
    <label for="mainAddressAdd">mainAddress:</label>
    <input type="text" id="mainAddressAdd" name="mainAddressAdd">
    <br> <br>
    <div style="font-size: larger;font-family: bold,'Monotype Corsiva',serif">Mother info</div>
    <label for="motherFirstNameAdd">motherFirstNameAdd:</label>
    <input type="text" id="motherFirstNameAdd" name="motherFirstNameAdd">
    <span aria-valuetext="      ">          </span>>
    <label for="motherMiddleNameAdd">motherMiddleName:</label>
    <input type="text" id="motherMiddleNameAdd" name="motherMiddleNameAdd">
    <span aria-valuetext="      ">          </span>>
    <label for="motherLastNameAdd">motherLastName:</label>
    <input type="text" id="motherLastNameAdd" name="motherLastNameAdd">
    <br>
    <label for="motherBirthdayAdd">motherBirthday:</label>
    <input type="text" id="motherBirthdayAdd" name="motherBirthdayAdd">
    <br> <br>
    <div style="font-size: larger;font-family: bold,'Monotype Corsiva',serif">Father info</div>
    <label for="fatherFirstNameAdd">fatherFirstName:</label>
    <input type="text" id="fatherFirstNameAdd" name="fatherFirstNameAdd">
    <span aria-valuetext="      ">          </span>>
    <label for="fatherMiddleNameAdd">fatherMiddleName:</label>
    <input type="text" id="fatherMiddleNameAdd" name="fatherMiddleNameAdd">
    <span aria-valuetext="      ">          </span>>
    <label for="fatherLastNameAdd">fatherLastName:</label>
    <input type="text" id="fatherLastNameAdd" name="fatherLastNameAdd">
    <br>
    <label for="fatherBirthdayAdd">fatherBirthday:</label>
    <input type="text" id="fatherBirthdayAdd" name="fatherBirthdayAdd">
    <br>
    <br>
    <div style="font-size: larger;font-family: bold,'Monotype Corsiva',serif">Old Names</div>
    <label for="oldFirstNameAdd">oldFirstName:</label>
    <input type="text" id="oldFirstNameAdd" name="oldFirstNameAdd">
    <span aria-valuetext="      ">          </span>>
    <label for="oldMiddleNameAdd">oldMiddleName:</label>
    <input type="text" id="oldMiddleNameAdd" name="oldMiddleNameAdd">
    <span aria-valuetext="      ">          </span>>
    <label for="oldLastNameAdd">oldLastName:</label>
    <input type="text" id="oldLastNameAdd" name="oldLastNameAdd">
    <br>
    <button type="button" onclick="creatPerson()">Creat Person</button>
    <br>
</form>
<br>
<div style="font-size: larger; font-family: 'Times New Roman',serif">Result:</div>
<span style="font-size: larger;font-family: bold,'Monotype Corsiva',serif" id="resultListCreateFM"></span>
<br><br>
<p><a th:href="@{/base}">Return to "Working with base"</a></p>
<p><a th:href="@{/cabinet/me}">Вернуться в кабинет</a></p>
<script>
    async function creatPerson() {
        const form = document.getElementById('creatFM');
        let formData = {
            firstName: form.elements.firstNameAdd.value,
            middleName: form.elements.middleNameAdd.value,
            lastName: form.elements.lastNameAdd.value,
            birthday: form.elements.birthdayAdd.value,
            deathday: form.elements.deathDayAdd.value,
            sex: form.elements.gender.value,
            memberInfo: {
                mainAddress: form.elements.mainAddressAdd.value,
                mainPhone: form.elements.mainPhoneAdd.value,
                mainEmail: form.elements.mainEmailAdd.value
            },
            motherFio: {
                firstName: form.elements.motherFirstNameAdd.value,
                middleName: form.elements.motherMiddleNameAdd.value,
                lastName: form.elements.motherLastNameAdd.value,
                birthday: form.elements.motherBirthdayAdd.value
            },
            fatherFio: {
                firstName: form.elements.fatherFirstNameAdd.value,
                middleName: form.elements.fatherMiddleNameAdd.value,
                lastName: form.elements.fatherLastNameAdd.value,
                birthday: form.elements.fatherBirthdayAdd.value
            },
            fioDtos: [{
                firstName: form.elements.oldFirstNameAdd.value,
                middleName: form.elements.oldMiddleNameAdd.value,
                lastName: form.elements.oldLastNameAdd.value
            }]
        };
        const jsonData = JSON.stringify(formData);
        fetch("/base/family_member/add", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: jsonData,
        }).then(async status => {
            document.getElementById("resultListCreateFM").innerHTML = await status.text();
        });

    }
</script>
</body>
</html>