
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit user</title>
</head>
<body>
<form id="userFormEdit" th:action="@{/cabinet/edit}" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required>
  <br>
  <label for="nickName">NickName:</label>
  <input type="text" id="nickName" name="nickName" required>
  <br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>
   <br>
  <label for="firstNameEdit">FirstName:</label>
  <input type="text" id="firstNameEdit" name="firstNameEdit" required>
  <br>
  <label for="middleNameEdit">MiddleName:</label>
  <input type="text" id="middleNameEdit" name="middleNameEdit" required>
  <br>
  <label for="lastNameEdit">LastName:</label>
  <input type="text" id="lastNameEdit" name="lastNameEdit" required>
  <br>
  <label for="birthday">Birthday:</label>
  <input type="text" id="birthday" name="birthday" required>
  <br>
  <button type="button" onclick="submitForm()">Edit User</button>
</form>
<p><a th:href="@{/}">Return to Home Page</a></p>
<script>
  function submitForm() {
    var form = document.getElementById('userFormEdit');
    var formData = {
      username: form.elements.username.value,
      password: form.elements.password.value,
      firstName: form.elements.firstNameEdit.value,
      middleName: form.elements.middleNameEdit.value,
      lastName: form.elements.lastNameEdit.value,
      nickName: form.elements.nickName.value,
      birthday: form.elements.birthday.value
    };
    var jsonData = JSON.stringify(formData);
    fetch(form.action, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: jsonData
    });
  }
</script>
</body>
</html>
