<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>getFamilyMemberForm</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css"
          integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"
            integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<form id="findPerson">
    <label for="idPerson">Id:</label>
    <input type="text" id="idPerson" name="idPerson">
    <br>
    <label for="firstName">FirstName:</label>
    <input type="text" id="firstName" name="firstName">
    <br>
    <label for="middleName">MiddleName:</label>
    <input type="text" id="middleName" name="middleName">
    <br>
    <label for="lastName">LastName:</label>
    <input type="text" id="lastName" name="lastName">
    <br>
    <label for="birthday">birthday:</label>
    <input type="text" id="birthday" name="birthday">
    <br>
    <button type="button" onclick="findPerson()">Find person</button>
</form>
<br>
<div style="font-size: larger; font-family: 'Times New Roman',serif">Result of search:</div>
<div style="font-size: medium; font-family: 'Times New Roman',serif">Полное имя</div>
<span style="font-size: larger;font-family: bold,'Monotype Corsiva',serif" id="resultListFullName"></span>
<br>
<div style="font-size: medium; font-family: 'Times New Roman',serif">Mother info:</div>
<span style="font-size: larger;font-family: bold,'Monotype Corsiva',serif" id="resultListMother"></span>
<br>
<div style="font-size: medium; font-family: 'Times New Roman',serif">Father info:</div>
<span  style="font-size: larger;font-family: bold,'Monotype Corsiva',serif" id="resultListFather"></span>
<br>
<div style="font-size: medium; font-family: 'Times New Roman',serif">Phone:</div>
<span  style="font-size: larger;font-family: bold,'Monotype Corsiva',serif" id="resultListPhone"></span>
<br>
<div style="font-size: medium; font-family: 'Times New Roman',serif">Email:</div>
<span  style="font-size: larger;font-family: bold,'Monotype Corsiva',serif" id="resultListEmail"></span>
<br>
<div style="font-size: medium; font-family: 'Times New Roman',serif">Address:</div>
<span  style="font-size: larger;font-family: bold,'Monotype Corsiva',serif" id="resultListAddress"></span>
<br><br>
<p><a th:href="@{/base}">Return to "Working with base"</a></p>
<p><a th:href="@{/}">Return to Home Page</a></p>
<script>
    async function findPerson() {
        const form = document.getElementById('findPerson');
        let formData = {
            id: form.elements.idPerson.value,
            firstName: form.elements.firstName.value,
            middleName: form.elements.middleName.value,
            lastName: form.elements.lastName.value,
            birthday: form.elements.birthday.value
        };
        const jsonData = JSON.stringify(formData);
        await fetch("/base/family_member/" + formData.id, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: jsonData,
        }).then(tokenUser => tokenUser.json()).then(familyMember => {
            document.getElementById("resultListFullName").innerHTML = familyMember.fullName;
            document.getElementById("resultListFather").innerHTML = familyMember.fatherInfo;
            document.getElementById("resultListMother").innerHTML = familyMember.motherInfo;
            document.getElementById("resultListPhone").innerHTML = familyMember.memberInfo.mainPhone;
            document.getElementById("resultListAddress").innerHTML = familyMember.memberInfo.mainAddress;
            document.getElementById("resultListEmail").innerHTML = familyMember.memberInfo.mainEmail;
        });

    }
</script>
</body>
</html>